.aboutsec{
    width: 100%;
    min-height: 70vh;
    margin-top: -23px;
    padding-bottom: 10px;
    padding-top: 15px;
    display: flex;
}
.aboutsec p{
    font-size: 18px;
    padding: 25px;
    padding-top: 70px;
}
.aboutsec img{
    width: 450px;
    height: 450px;
    margin-top: 10px;
}