.singlecard{
    width: 300px;
    height: 430px;
    border: 1px solid rgb(129, 125, 125);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
}
.singlecard img{
    width: 300px;
    height: 230px;
}
.singlecard a{
    text-decoration: none;
    color: rgb(65, 64, 64);
}
.priceandbtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardsingle{
    padding: 7px;
    background-color: rgb(114, 86, 86);
    border: none;
    color: white;
}
.cardsingle:hover{
    background-color: rgb(172, 134, 134);
    cursor: pointer;
}